@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

/* font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif; */

/* root VARIABLES */ 
/* variables from style-guide */
:root { 
  --fm-Fraunces: 'Fraunces', serif;
  --fm-Montserrat: 'Montserrat', sans-serif;

  --fw-regular: 500;
  --fw-bold: 700;

  --color-primary-cyan: hsl(158, 36%, 37%);
  --color-primary-cyandark: hsl(158, 36%, 20%);
  --color-primaty-cream: hsl(30, 38%, 92%);
  --color-neutral-dakrblue: hsl(212, 21%, 14%);
  --color-neutral-grayishblue: hsl(228, 12%, 48%);
  --colol-neutral-white: hsl(0, 0%, 100%);
}

/* RESET by https://www.joshwcomeau.com/css/custom-css-reset/ */
*, *::before, *::after {    
  box-sizing: border-box;
   margin: 0;
  padding: 0;
}
body {
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  max-width: 100%; 
  display: block;    
}
 input, button, textarea, select {
  font: inherit;
}
  p, h1, h2, h3, h4, h5, h6 {
   overflow-wrap: break-word;
}

/* GENERAL STYLING */

body {  
  height: 100vh;
  margin: 1rem;
  font-family: var(--fm-Montserrat);
  font-weight: var(--fw-regular);
  font-size: 0.875rem;
  color: var(--color-neutral-dakrblue);
  background-color: var(--color-primaty-cream); 
  display: flex;  
  justify-content: center;
  align-items: center;  
}
footer {
  display: none;  
}

/* UTILITES */
.card__price {
  display: flex;
  gap: 1rem;
  align-items: center;
}

/* ELEMENTS */
.card {
  max-width: 343px;
  background-color: var(--colol-neutral-white);
  display: grid;
  border-radius: 0.75rem;
  overflow: hidden; 
} 
.card__content {
  padding: 1.5rem;
  gap: 1rem;
  display: grid;  
}
.card__type {
  font-size: 0.75rem;
  color: var(--color-neutral-grayishblue);
  letter-spacing: 4px;
  text-transform: uppercase;
}
.card__title {  
  font-family: var(--fm-Fraunces);
  font-size: 2rem;
  font-weight: var(--fw-bold);
  line-height: 1;
}
.card__description {  
  line-height: 1.7;
  color: var(--color-neutral-grayishblue);  
}
.card__price-discounted {
  color: var(--color-primary-cyan);
  font-family: var(--fm-Fraunces);
  font-size: 2rem;  
}
.card__price-original {
  text-decoration: line-through;
}
.card__btn {  
  display: flex; 
  align-items: center;
  justify-content: center;
  gap: 1rem; 
  padding: 0.875rem;
  font-weight: var(--fw-bold); 
  color: var(--colol-neutral-white);
  background-color: var(--color-primary-cyan);  
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;  
}
.card__btn:hover, .card__btn:focus {
  background-color: var(--color-primary-cyandark);
}

@media (min-width: 550px) {
  footer {
    display: block;
    position: absolute;
    margin-bottom: 0.5rem;
    bottom: 0;
  }
  .card {    
    display: flex;    
    min-width: 550px;
    max-width: 550px;
  }
  .card__content {
    max-width: 50%;
  }
}

